USE [master]
GO
/****** Object:  Database [farmacia]    Script Date: 4/14/2024 3:18:50 PM ******/
CREATE DATABASE [farmacia]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'farmacia', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\farmacia.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'farmacia_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\farmacia_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [farmacia].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [farmacia]
GO
/****** Object:  Table [dbo].[administracion]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[administracion](
	[administracion_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[administracion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categoria]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categoria](
	[categoria_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[concentracion]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[concentracion](
	[concentracion_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[concentracion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamento]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamento](
	[medicamento_id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](25) NOT NULL,
	[activo] [bit] NOT NULL,
	[descripcion] [varchar](200) NULL,
	[presentacion_id] [int] NOT NULL,
	[concentracion_id] [int] NOT NULL,
	[administracion_id] [int] NOT NULL,
	[categoria_id] [int] NOT NULL,
 CONSTRAINT [PK__medicame__BBBBB8CA9C30AF12] PRIMARY KEY CLUSTERED 
(
	[medicamento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[medicamento_ubicacion]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[medicamento_ubicacion](
	[medicamento_ubicacion_id] [int] IDENTITY(1,1) NOT NULL,
	[medicamento_id] [int] NOT NULL,
	[ubicacion_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[presentacion]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[presentacion](
	[presentacion_id] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](25) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[presentacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ubicacion]    Script Date: 4/14/2024 3:18:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ubicacion](
	[ubicacion_id] [int] IDENTITY(1,1) NOT NULL,
	[estante] [int] NOT NULL,
	[casilla] [int] NOT NULL,
	[caja] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ubicacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[administracion] ON 

INSERT [dbo].[administracion] ([administracion_id], [tipo]) VALUES (1, N'oral')
INSERT [dbo].[administracion] ([administracion_id], [tipo]) VALUES (2, N'intravenosa')
INSERT [dbo].[administracion] ([administracion_id], [tipo]) VALUES (3, N'topico')
SET IDENTITY_INSERT [dbo].[administracion] OFF
GO
SET IDENTITY_INSERT [dbo].[categoria] ON 

INSERT [dbo].[categoria] ([categoria_id], [nombre]) VALUES (1, N'Analgésicos')
INSERT [dbo].[categoria] ([categoria_id], [nombre]) VALUES (2, N'Antibióticos')
INSERT [dbo].[categoria] ([categoria_id], [nombre]) VALUES (3, N'Antiinflamatorio')
SET IDENTITY_INSERT [dbo].[categoria] OFF
GO
SET IDENTITY_INSERT [dbo].[concentracion] ON 

INSERT [dbo].[concentracion] ([concentracion_id], [tipo]) VALUES (1, N'50mg')
INSERT [dbo].[concentracion] ([concentracion_id], [tipo]) VALUES (2, N'100mg')
INSERT [dbo].[concentracion] ([concentracion_id], [tipo]) VALUES (3, N'150mg')
SET IDENTITY_INSERT [dbo].[concentracion] OFF
GO
SET IDENTITY_INSERT [dbo].[medicamento] ON 

INSERT [dbo].[medicamento] ([medicamento_id], [nombre], [activo], [descripcion], [presentacion_id], [concentracion_id], [administracion_id], [categoria_id]) VALUES (1, N'Paracetamol', 1, N'Se usa para tratar diversas dolencias como fiebre, dolor de cabeza, dolores musculares, artritis, dolor de espalda o resfriados.', 1, 1, 1, 1)
INSERT [dbo].[medicamento] ([medicamento_id], [nombre], [activo], [descripcion], [presentacion_id], [concentracion_id], [administracion_id], [categoria_id]) VALUES (2, N'Omeprazol', 1, N'Para la acidez de estómago o tratamiento de los síntomas por reflujo gastroesofáfico, este efecto también previene las úlceras.', 2, 2, 2, 2)
INSERT [dbo].[medicamento] ([medicamento_id], [nombre], [activo], [descripcion], [presentacion_id], [concentracion_id], [administracion_id], [categoria_id]) VALUES (3, N'Naproxeno', 1, N'Se utiliza para el tratamiento del dolor, de la inflamación, para bajar la fiebre y la migraña incluídos los dolores de menstruación. ', 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[medicamento] OFF
GO
SET IDENTITY_INSERT [dbo].[presentacion] ON 

INSERT [dbo].[presentacion] ([presentacion_id], [tipo]) VALUES (1, N'tableta')
INSERT [dbo].[presentacion] ([presentacion_id], [tipo]) VALUES (2, N'liquida')
INSERT [dbo].[presentacion] ([presentacion_id], [tipo]) VALUES (3, N'polvo')
SET IDENTITY_INSERT [dbo].[presentacion] OFF
GO
/****** Object:  Index [UQ__administ__1B41E8196EDFD4FE]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[administracion] ADD UNIQUE NONCLUSTERED 
(
	[administracion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__categori__DB875A4E8957E3EE]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[categoria] ADD UNIQUE NONCLUSTERED 
(
	[categoria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__concentr__758525F1F4ACD8E1]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[concentracion] ADD UNIQUE NONCLUSTERED 
(
	[concentracion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__medicame__BBBBB8CBB3B33CB6]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[medicamento] ADD  CONSTRAINT [UQ__medicame__BBBBB8CBB3B33CB6] UNIQUE NONCLUSTERED 
(
	[medicamento_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__presenta__040BBA99C046E857]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[presentacion] ADD UNIQUE NONCLUSTERED 
(
	[presentacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__ubicacio__129843858A5B2EE6]    Script Date: 4/14/2024 3:18:50 PM ******/
ALTER TABLE [dbo].[ubicacion] ADD UNIQUE NONCLUSTERED 
(
	[estante] ASC,
	[casilla] ASC,
	[caja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [FK__medicamen__admin__440B1D61] FOREIGN KEY([administracion_id])
REFERENCES [dbo].[administracion] ([administracion_id])
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [FK__medicamen__admin__440B1D61]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [FK__medicamen__categ__47DBAE45] FOREIGN KEY([categoria_id])
REFERENCES [dbo].[categoria] ([categoria_id])
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [FK__medicamen__categ__47DBAE45]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [FK__medicamen__conce__4316F928] FOREIGN KEY([concentracion_id])
REFERENCES [dbo].[concentracion] ([concentracion_id])
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [FK__medicamen__conce__4316F928]
GO
ALTER TABLE [dbo].[medicamento]  WITH CHECK ADD  CONSTRAINT [FK__medicamen__prese__4222D4EF] FOREIGN KEY([presentacion_id])
REFERENCES [dbo].[presentacion] ([presentacion_id])
GO
ALTER TABLE [dbo].[medicamento] CHECK CONSTRAINT [FK__medicamen__prese__4222D4EF]
GO
ALTER TABLE [dbo].[medicamento_ubicacion]  WITH CHECK ADD  CONSTRAINT [FK__medicamen__medic__4CA06362] FOREIGN KEY([medicamento_id])
REFERENCES [dbo].[medicamento] ([medicamento_id])
GO
ALTER TABLE [dbo].[medicamento_ubicacion] CHECK CONSTRAINT [FK__medicamen__medic__4CA06362]
GO
ALTER TABLE [dbo].[medicamento_ubicacion]  WITH CHECK ADD FOREIGN KEY([ubicacion_id])
REFERENCES [dbo].[ubicacion] ([ubicacion_id])
GO
USE [master]
GO
